# API e Servidor
fastapi==0.78.0
uvicorn==0.17.6
pydantic==1.9.1
python-multipart==0.0.5
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1

# Banco de Dados
sqlalchemy==1.4.28
psycopg2-binary==2.9.3

# Machine Learning
scikit-learn==1.0.2
lightgbm==3.3.2
numpy==1.22.4
pandas==1.4.2
joblib==1.1.0

# Utilidades
python-dotenv==0.20.0
requests==2.27.1 