# API e Servidor
fastapi==0.95.2
uvicorn==0.22.0
pydantic==1.10.8
python-multipart==0.0.6
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1

# Dashboard
streamlit==1.24.0
plotly==5.18.0
matplotlib==3.8.0
seaborn==0.13.0

# Banco de Dados
sqlalchemy==1.4.31
psycopg2-binary==2.9.6

# Machine Learning
scikit-learn==1.3.0
lightgbm==4.0.0
numpy==1.25.1
pandas==2.0.3
shap==0.42.1

# Utilidades
python-dotenv==1.0.0
requests==2.31.0
httpx==0.22.0
joblib==1.2.0 